body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #1f1f2e;
  margin: 0;
  padding: 20px;
  color: #f1f1f1;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../images/background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.05;
  z-index: -1;
}

.container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 30px;
  background-color: #2a2a40;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
  border-radius: 12px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #FCB03C;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: #2f2f44;
  border-radius: 10px;
  overflow: hidden;
  color: #f1f1f1;
}

th,
td {
  padding: 14px 16px;
  text-align: center;
}

th {
  color: #ffffff;
  background-color: #f06292;
}

tr:nth-child(even) {
  background-color: #36364f;
}

.status {
  padding: 6px 12px;
  border-radius: 16px;
  font-size: 14px;
  font-weight: 600;
  color: white;
  cursor: pointer;
}

.aguardando {
  background-color: #f39c12;
}

.preparando {
  background-color: #3498db;
}

.entregue {
  background-color: #32A639;
}

.actions button {
  padding: 6px 12px;
  margin: 2px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: white;
}

.actions .toPago {
  background-color: #3498db;
}

.actions .toPago:hover {
  background-color: #1e89d1;
}

.actions .toEntregue {
  background-color: #2ecc71;
}

.actions .toEntregue:hover {
  background-color: #0fc75b;
}

.back-button {
  display: inline-block;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 8px 16px;
  background-color: #e91e63;
  color: white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #c2185b;
}

.btn-remover {
  background-color: #d90707ea;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-remover:hover {
  background-color: #b30505;
}

.btn-preparo {
  background-color: #ffcb76;
  color: #333;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 5px;
}

.btn-preparo:hover {
  background-color: #ffb74d;
}

.btn-pronto {
  background-color: #50BF6C;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 5px;
}

.btn-pronto:hover {
  background-color: #3d8b4d;
}

.btn-entrega {
  background-color: #80C7F2;
  color: #333;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 5px;
}

.btn-entrega:hover {
  background-color: #5ab0e0;
}